<h1> Listing <%= Dojo.count %> Dojos</h1>
<a href="/users/new">Add a New User</a> | 
<a href="/users/total">Total Number of Users</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr class="table-secondary">
            <td>Coding Dojo Branch</td>
            <td>Street</td>
            <td>City</td>
            <td>State</td>
        </tr>
    </thead>
    <% @dojos.each do |dojo| %>
    <tr>
        <td><%= dojo.branch %></td>
        <td><%= dojo.street %></td>
        <td><%= dojo.city %></td>
        <td><%= dojo.state %></td>
    </tr>
    <% end %>
</table>
